---
- name: Install MariaDB
  apt:
    name: mariadb-server

- name: Install Python MySQLdb (for Ansible)
  apt:
    name: python-mysqldb

- name: Create Database User
  mysql_user:
    name: '{{ mariadb.user}}'
    password: '{{ mariadb.password }}'
    priv: '{{ mariadb.db }}.*:ALL,GRANT'
    check_implicit_admin: yes

- name: Create Database
  mysql_db:
    name: '{{ mariadb.db }}'
    login_user: '{{ mariadb.user }}'
    login_password: '{{ mariadb.password }}'
