---
- name: Set Locale for PHP PPA
  locale_gen:
    name: en_US.UTF-8

- name: Add PHP PPA
  apt_repository:
    repo: 'ppa:ondrej/php'

- name: Install PHP
  apt:
    name: php7.1-fpm
    update_cache: yes
    cache_valid_time: 3600

- name: Install PHP Modules
  apt:
    name: '{{ item }}'
  with_items:
    - php7.1-curl
    - php7.1-mysql
    - php7.1-xml    # RSS feed on the front page requires this for operation.
    - php7.1-xmlrpc # Required for WP JetPack.

- name: Enable PHP Modules
  command: phpenmod {{ item }}
  with_items:
    - curl
    - json
    - opcache
    - mysqli
    - mysqlnd
    - xml
    - xmlrpc
  changed_when: False
  notify: Restart PHP-FPM

- name: Download Composer Installer
  get_url:
    url: https://getcomposer.org/installer
    dest: /tmp/composer-setup.php
    checksum: 'sha384:55d6ead61b29c7bdee5cccfb50076874187bd9f21f65d8991d46ec5cc90518f447387fb9f76ebae1fbbacf329e583e30'

- name: Install Composer
  command: php /tmp/composer-setup.php --filename=composer \
             --install-dir=/usr/local/bin
  args:
    creates: /usr/local/bin/composer

- name: Remove Composer Installer
  file:
    path: /tmp/composer-setup.php
    state: absent
